<% if @products != [] %>

<% @products.each do |p| %>
<%= p.title %> <br>
<%= link_to "Show", product_path(p.id) %> <hr>
<% end %>

<% else %>

<h4> No Posts </h4>

<% end %>

<%= link_to "Add product", new_product_path %>

